{% extends 'base_site.html' %}
{% block maincontent %}
{% load socialaccount %}
{% load static %}

<section class="container_form forms">

        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                {% if messages %}
                {% for message in messages %}
                 <div class="alert alert-info mt-4">{{message}}</div>
                {% endfor %}
            {% endif %}
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="user_email_log">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" name="user_pass_log">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="{% url 'user:register' %}" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="{% provider_login_url 'facebook' %}" class="field facebook">
                    <img src="{% static 'images/Facebook_Logo_Primary.png' %}" alt="" class="facebook-img">
                    <span>Login with Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="{% provider_login_url 'google' %}" class="field google">
                    <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>]

</section>
{% endblock maincontent%}