    
<!-- header section starts  -->

<header class="header">

   <a href="{% url 'ols_name:home' %}" class="logo"> <i class="fas fa-graduation-cap"></i> ols </a>

   <div id="menu-btn" class="fas fa-bars"></div>

   <nav class="navbar">
       <ul>
           <li><a href="/">home</a></li>
           <li><a href="{% url 'ols_name:about' %}">about</a></li>
           <li><a href="{% url 'ols_name:course' %}">courses</a></li>
           <li><a href="{% url 'ols_name:teacher' %}">teachers</a></li>
           <li><a href="{% url 'ols_name:contact' %}">contact</a></li>
       </ul>
   </nav>
   <a href="{% url 'user:login' %}"><div id="login" class="fas fa-user-circle"></div></a>

</header>

<!-- header section ends -->