{% extends 'base_site.html' %}
{% block maincontent %}
{% load static %}

<!-- courses section starts  -->
<section class="heading">
    <h3>Courses</h3>
    <p> <a href="{% url 'ols_name:home' %}">home >></a> courses </p>
</section>
<section class="course-1">

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>1st semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>2nd semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>3rd semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>4th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>5th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>6th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>Java Programming</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>7th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>8th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail_detail">course materials</a>
    </div>

</section>

<!-- course-1 section ends -->

{% endblock maincontent %}