{% extends 'base_site.html' %}

{% block maincontent %}
{% load static %}

<!-- courses section starts  -->
<section class="heading">
    <h3>Courses</h3>
    <p> <a href="{% url 'ols_name:home' %}">home >></a> courses </p>
</section>
<section class="course-1">
   {% for course in courses %}
    <div class="box">
        {% if course.card_image %}
        <img src="{{course.card_image.url}}" alt="">
        {% endif %}
        <h3>{{course.course_name}}</h3>
        <p>{{course.card_desc}}</p>
        {% if user.is_authenticated %}


            <button type="submit" data-course-id="{{course.id}}" data-url="{% url 'ols_name:Enrolled' %}" class="btn_detail add_to_dashboard" >Enroll</button>

        {% else %}      

        <button id="login_check" class="btn_detail">Enroll</button>
        {% endif %}



    </div>
    {% endfor %}

    {% comment %} <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>2nd semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div> {% endcomment %}

    {% comment %} <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>3rd semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>4th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>5th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>6th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>Java Programming</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>7th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail">course materials</a>
    </div>

    <div class="box">
        <img src="{% static 'images/subject.jpg' %}" alt="">
        <h3>8th semester</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, earum.</p>
        <a href="login/login.html" class="btn_detail_detail">course materials</a>
    </div> {% endcomment %}

</section>

<!-- course-1 section ends -->

{% endblock maincontent %}

{% block script%}

{{block.super}}
<script type="text/javascript">
    //SweetAlert function
    function handleSuccess(data){
        Swal.fire({
          title: 'Success',
          text: data,
          icon: 'success',
    
        })
    }
    function handleSuccessInfo(data){
        Swal.fire({
            title: 'info',
            text: data,
            icon: 'info',
    
        })

    }
    
    // Function to handle an error in the AJAX request
    function handleError(error) {
        Swal.close(); // Close the loading modal
        Swal.fire({
        title: 'Error',
        text: 'An error occurred: ' + error.message,
        icon: 'error',
        });
    }


let login_check = document.getElementById('login_check');
$(document).ready(function(){
  $('.add_to_dashboard').click(function(){

    var courseId = $(this).data('course-id');
    var url_course = $(this).data('url');
    console.log(courseId)


    $.ajax({
       
        type:'POST',
        url:url_course,
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        },
        data: {
            'course_id':courseId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success:function(data){
            msg = data.message
            console.log(msg)
            if (msg == 'Course added to dashboard')
            {

                handleSuccess(msg)
            }
            else
            {
                handleSuccessInfo(msg)
            }

        },
        error:function(xhr,status,error){
            handleError(error.message)
            console.error('Error:',error);
        }
    });
  });



});


</script>

{% endblock script %}