{% extends 'base_site.html' %}
{% block maincontent %}
{% load static %}
<!-- home section start -->
<section class="home">
   <div class="image">
       <img src="{% static 'images/home-img.png' %}" alt="">
   </div>

   <div class="content">
       <h3>Learning From Home</h3>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa cumque neque quam amet perferendis sed rem ut tenetur porro praesentium.</p>
       <a href="{% url 'ols_name:course' %}" class="btn_detail">enroll courses</a>
   </div>

</section>

<!-- home section ends -->








{% endblock maincontent %}