{% extends 'base_site.html' %}
{% block maincontent %}
{% load static %}

<!-- teachers section starts  -->

<section class="heading">
    <h3>teacher</h3>
    <p> <a href="{% url 'ols_name:home' %}">home >></a> teacher </p>
</section>

<section class="teachers">

    <div class="box">
        <div class="image">
            <img src="" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Jonish Sapkota</h3>
            <span>Computer Network</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-2.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>john deo</h3>
            <span>Communication</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-3.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Sita Rana</h3>
            <span>Operating System</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-4.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Hari Magar</h3>
            <span>Microprocessor</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-5.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>john Lama</h3>
            <span>Web Technology </span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-6.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Shyam BK</h3>
            <span>Information System</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="images/teacher-7.png" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Bibek Yadav</h3>
            <span>C Programming</span>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="{% static 'images/teacher-8.png' %}" alt="">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="content">
            <h3>Ram Sharma</h3>
            <span>Computer Graphics</span>
        </div>
    </div>

</section>

<!-- teachers section ends -->


{% endblock maincontent %}